
<div class="container">
    <div class="row">
      <div class="col-sm">
        <app-login></app-login>
      </div>
      <div class="col-sm">
        <app-register></app-register>
      </div>
    </div>
  </div>
  