<!-- TODO: add -->
<!-- should be in a modal, but that does not work -->

<div class="container">
  <h2>Login</h2>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control" />
      <div
        *ngIf="email.invalid && email.touched"
        class="alert alert-danger"
        role="alert"
      >
        Email looks wrong
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" />
      <div
        *ngIf="password.invalid && password.touched"
        class="alert alert-danger"
        role="alert"
      >
        Password is required
      </div>
    </div>
  </form>

  <button (click)="emailLogin()" class="btn btn-primary">
    Login
  </button>
  <button (click)="googleLogin()" class="btn btn-danger">
    Login with Google
  </button>
</div>
