<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">
        <a class="nav-link" routerLink="/"
          >Internship Project<span class="sr-only">(current)</span></a
        ></span
      >
    </div>

    <div *ngIf="(authService.user | async); then authenticated; else guest">
      <!-- template will replace this div -->
    </div>

    <!-- User NOT logged in -->
    <ng-template #guest>
      <ul class="nav grey lighten-4 py-4">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Sign Up</a>
        </li>
      </ul>
    </ng-template>

    <!-- User logged in -->
    <ng-template #authenticated>
      <div *ngIf="(authService.user | async) as user">
        <ul class="nav grey lighten-4 py-4">
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-profile">Profile</a>
          </li>
          <li class="nav-item">
            <button class="btn btn-link" (click)="authService.signOut()">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </ng-template>
  </div>
</nav>

<router-outlet></router-outlet>
