<div class="container">
  <h2>Profile</h2>
  <div *ngIf="isFirstTime" class="alert alert-info">
    Welcome! This is your first time logging on to your
    account, please take some time to provide us with your profile data down
    below.
  </div>
  <div [ngClass]="{ cDisabled: !isEditing, cEnabled: isEditing }">
    <form [formGroup]="profileForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          formControlName="name"
          class="form-control"
          (change)="handleOnChange('name')"
        />
        <div
          *ngIf="name.invalid && name.touched"
          class="alert alert-danger"
          role="alert"
        >
          Name is required
        </div>
      </div>

      <div class="form-group">
        <label for="surname">Surname</label>
        <input
          type="text"
          formControlName="surname"
          class="form-control"
          (change)="handleOnChange('surname')"
        />
        <div
          *ngIf="surname.invalid && surname.touched"
          class="alert alert-danger"
          role="alert"
        >
          Surname is required
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="text"
          formControlName="email"
          class="form-control"
          (change)="handleOnChange('email')"
          disabled
        />
        <!-- disabled must depend on if first time user -->
        <div
          *ngIf="email.invalid && email.touched"
          class="alert alert-danger"
          role="alert"
        >
          Email is required or incorrect
        </div>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input
          type="text"
          formControlName="address"
          class="form-control"
          (change)="handleOnChange('address')"
        />
        <div
          *ngIf="address.invalid && address.touched"
          class="alert alert-danger"
          role="alert"
        >
          Address is required
        </div>
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input
          type="number"
          formControlName="age"
          class="form-control"
          (change)="handleOnChange('age')"
        />
        <div
          *ngIf="age.invalid && age.touched"
          class="alert alert-danger"
          role="alert"
        >
          Age is required
        </div>
      </div>

      <div class="form-group">
        <label for="race">Race</label>
        <input
          type="text"
          formControlName="race"
          class="form-control"
          (change)="handleOnChange('race')"
        />
        <div
          *ngIf="race.invalid && race.touched"
          class="alert alert-danger"
          role="alert"
        >
          Race is required
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="isEditing; then Editing; else Viewing">
    <!-- template will replace this div -->
  </div>

  <ng-template #Editing>
    <button (click)="handleUpdateUser()" class="btn btn-primary">
      Save
    </button>
  </ng-template>

  <ng-template #Viewing>
    <button (click)="handleToggleEdit()" class="btn btn-primary">
      Edit
    </button>
  </ng-template>
</div>
