<div class="container">
  <h2>Register</h2>
  <form [formGroup]="registerForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" formControlName="name" class="form-control" />
      <div
        *ngIf="name.invalid && name.touched"
        class="alert alert-danger"
        role="alert"
      >
        Name is required
      </div>
    </div>

    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" formControlName="surname" class="form-control" />
      <div
        *ngIf="surname.invalid && surname.touched"
        class="alert alert-danger"
        role="alert"
      >
        Username is required
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control" />
      <div
        *ngIf="email.invalid && email.touched"
        class="alert alert-danger"
        role="alert"
      >
        Email is required or incorrect
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" class="form-control" />
      <div
        *ngIf="password.invalid && password.touched"
        class="alert alert-danger"
        role="alert"
      >
        Password is required
      </div>
    </div>

    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
      />
      <div
        *ngIf="
          confirmPassword.touched && password.value !== confirmPassword.value
        "
        class="alert alert-danger"
        role="alert"
      >
        Passwords do not match
      </div>
    </div>

    <button
      (click)="emailSignup()"
      [disabled]="loading || !registerForm.valid"
      class="btn btn-primary"
    >
      Register
    </button>

    <button (click)="googleRegister()" class="btn btn-danger">
      Register with Google
    </button>
  </form>
</div>
